<div class="subjects">
    <h3 class="text-primary">{{this.title}}</h3>
    <hr>

    {{#em-form model=model submit_button=false}}
        {{em-input property="name" placeholder="enter a name..."}} 
        {{em-input property="email" placeholder="email"}} 
        {{em-input property="phone" placeholder="phone"}} 
        {{em-form-submit text=this.submitText classes="btn btn-primary"}}
    {{/em-form}}


    {{#if isEditing}}
        <hr>
        <br>
        <button {{action delete}} class="btn btn-danger">Delete this Record</button>
    {{/if}}

</div>
