<div class="container">

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand brand-primary">
                    <h3 class="text-primary">Invoice Presto</h3>
                </li>
                <li>
                    {{#link-to 'index'}}{{fa-icon "home" size=1}}&nbsp; Home{{/link-to}}
                </li>
                <li>
                    {{#link-to 'billers'}}{{fa-icon "usd" size=1}}&nbsp; Billers{{/link-to}}
                </li>
                <li>
                    {{#link-to 'debtors'}}{{fa-icon "usd" size=1}}&nbsp; Debtors{{/link-to}}
                </li>
                <li>
                    {{#link-to 'items'}}{{fa-icon "shopping-cart" size=1}}&nbsp; Items{{/link-to}}
                </li>
                <li>
                    {{#link-to 'tax'}}{{fa-icon "usd" size=1}}&nbsp; Tax{{/link-to}}
                </li>
                <li>
                    {{#link-to 'freight'}}{{fa-icon "truck" size=1}}&nbsp; Freight{{/link-to}}
                </li>
                <li>
                    {{#link-to 'bank-details'}}{{fa-icon "university" size=1}}&nbsp; Bank Details{{/link-to}}
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            {{liquid-outlet}}
        </div>

    </div>

</div>
